<!-- NEWSLETTER -->
<div id="newsletter" class="section">
   <!-- container -->
   <div class="container">
     <!-- row -->
     <div class="row">
       <div class="col-md-12">
         <div class="newsletter">
           <p>Inscreva-se no <strong>NEWSLETTER</strong></p>
           <form>
             <input
               class="input"
               type="email"
               placeholder="Digite seu email"
             />
             <button class="newsletter-btn">
               <i class="fa fa-envelope"></i> Inscrever
             </button>
           </form>
           <ul class="newsletter-follow">
             <li>
               <a href="#"><i class="fa fa-facebook"></i></a>
             </li>
             <li>
               <a href="#"><i class="fa fa-twitter"></i></a>
             </li>
             <li>
               <a href="#"><i class="fa fa-instagram"></i></a>
             </li>
             <li>
               <a href="#"><i class="fa fa-pinterest"></i></a>
             </li>
           </ul>
         </div>
       </div>       
     </div>
     <!-- /row -->
   </div>
   <!-- /container -->
 </div>
 <!-- /NEWSLETTER -->

 <!-- FOOTER -->
 <footer id="footer">
   <!-- top footer -->
   <div class="section">
     <!-- container -->
     <div class="container">
       <!-- row -->
       <div class="row">
         <div class="col-md-3 col-xs-6">
           <div class="footer">
             <h3 class="footer-title">Sobre Nós</h3>
             <p>
               Fundada em 98, nossa missão é fazer dinheiro acima de qualquer coisa.
             </p>
             <ul class="footer-links">
               <li>
                 <a href="https://www.google.com.br/maps/@-31.3284965,-54.1002122,3a,75y,175.1h,89.22t/data=!3m7!1e1!3m5!1sqig_mhfz3-gnJj4r94X94A!2e0!5s20110701T000000!7i13312!8i6656?entry=ttu"
                   ><i class="fa fa-map-marker"></i>Peruzzo</a
                 >
               </li>
               <li>
                 <a href="#"><i class="fa fa-phone"></i>+053 999020356</a>
               </li>
               <li>
                 <a href="#"
                   ><i class="fa fa-envelope-o"></i>sac@patromecom.com</a
                 >
               </li>
             </ul>
           </div>
         </div>

         <div class="col-md-3 col-xs-6">
           <div class="footer">
             <h3 class="footer-title">Categorias</h3>
             <ul class="footer-links">
               <li><a href="/categoria/6601b67256536508dd6acc69/produtos#">Eletronico</a></li>
               <li><a href="/categoria/66831500940f42d034cb50fc/produtos#">Sala</a></li>
               <li><a href="/categoria/660c62f69c121a0aaaf1640e/produtos#">Cozinha</a></li>
             </ul>
           </div>
         </div>

         <div class="clearfix visible-xs"></div>

         <div class="col-md-3 col-xs-6">
           <div class="footer">
             <h3 class="footer-title">Informações</h3>
             <ul class="footer-links">
               <li><a href="/sobrenos">Sobre nós</a></li>
               <li><a href="/privacidade">Políticas de Privacidade</a></li>
               <li><a href="/frete">Políticas de Frete</a></li>
               <li><a href="/termos">Termos & Condições</a></li>
             </ul>
           </div>
         </div>

         <div class="col-md-3 col-xs-6">
           <div class="footer">
             <h3 class="footer-title">Serviço</h3>
             <ul class="footer-links">
               <li><a href="/meus-pedidos">Minha Conta</a></li>
               <li><a href="/carrinho">Ver Carrinho</a></li>
               <li><a href="/ajuda">Ajuda</a></li>
             </ul>
           </div>
         </div>
       </div>
       <!-- /row -->
     </div>
     <!-- /container -->
   </div>
   <!-- /top footer -->

   <!-- bottom footer -->
   <div id="bottom-footer" class="section">
     <div class="container">
       <!-- row -->
       <div class="row">
         <div class="col-md-12 text-center">
           <ul class="footer-payments">
             <li>
               <a href="#"><i class="fa fa-cc-visa"></i></a>
             </li>
             <li>
               <a href="#"><i class="fa fa-credit-card"></i></a>
             </li>
             <li>
               <a href="#"><i class="fa fa-cc-paypal"></i></a>
             </li>
             <li>
               <a href="#"><i class="fa fa-cc-mastercard"></i></a>
             </li>
             <li>
               <a href="#"><i class="fa fa-cc-discover"></i></a>
             </li>
             <li>
               <a href="#"><i class="fa fa-cc-amex"></i></a>
             </li>
           </ul>
           <span class="copyright">
             <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
             Copyright &copy;
             <script>
               document.write(new Date().getFullYear());
             </script>
             Todos direitos reservados | Template feito com
             <i class="fa fa-heart-o" aria-hidden="true"></i> by
             <a href="https://colorlib.com" target="_blank">Colorlib</a>
             <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
           </span>
         </div>
       </div>
       <!-- /row -->
     </div>
     <!-- /container -->
   </div>
   <!-- /bottom footer -->
 </footer>
 <!-- /FOOTER -->

 <!-- jQuery Plugins -->
 <script src="/home/js/jquery.min.js"></script>
 <script src="/home/js/bootstrap.min.js"></script>
 <script src="/home/js/slick.min.js"></script>
 <script src="/home/js/nouislider.min.js"></script>
 <script src="/home/js/jquery.zoom.min.js"></script>
 <script src="/home/js/main.js"></script>
</body>
</html>